.cover-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .title,
  .subtitle {
    margin-right: 5%;
  }
  .title {
    font-size: 9rem;
    color: white;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(/src/assets/cover.jpg) no-repeat;
    background-size: cover;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .lights-out.text1 {
    transform: rotate(-37deg) translateX(-90%) translateY(-806%) scale(2);
  }
  @media (max-width: 768px) {
    .title,
    .subtitle {
      margin-right: 2%;
    }
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 320px) {
    .title,
    .subtitle {
      margin-right: 1%;
    }
    .title {
      font-size: 1.75rem;
    }
    .subtitle {
      font-size: 1rem;
    }
  }
}

.quote-separator-index {
  display: flex;
  align-items: center;
  min-height: 200px;
  width: 100%;
  justify-content: center;
  text-align: center;

  .quote {
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    .quote {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 320px) {
    .quote {
      font-size: 1rem;
    }
  }
}

.bio-index {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-wrapper {
    width: 80%;
    height: 80%;
    background-image: url('/src/assets/carles.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 290px;
  }
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-character;
  }
  .text {
    font-size: 2.5rem;
    padding: 40px;
  }
  @media (max-width: 768px) {
    .bio {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
    }
  }
}

.resume-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  .title {
    width: 80%;
    text-align: right;
  }
  .top-text {
    color: var(--main-palette-primary);
    font-size: 1.5rem;
  }
  .bottom-text {
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
  }
  .content {
    width: 100%;
    height: 100%;

    .background, .effect, .side-menu {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .side-menu {
      z-index: 2;
      color: white;
      width: 50%;
      height: 100%;
      font-size: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      
      .menu-option {
        cursor: pointer;
      }
    }

    .effect {
      z-index: 1;
      background-image: linear-gradient(to right, black, 60%, transparent);
    }

    .background {
      background-image: url('/src/assets/resume.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
