.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .title,
  .subtitle {
    margin-right: 5%;
  }
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .lights-out.text1 {
    transform: rotate(-37deg) translateX(-90%) translateY(-806%) scale(2);
  }
  @media (max-width: 768px) {
    .title,
    .subtitle {
      margin-right: 2%;
    }
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 320px) {
    .title,
    .subtitle {
      margin-right: 1%;
    }
    .title {
      font-size: 1.75rem;
    }
    .subtitle {
      font-size: 1rem;
    }
  }
}

.quote-separator {
  display: flex;
  align-items: center;
  min-height: 200px;
  width: 100%;
  justify-content: center;
  text-align: center;

  .quote {
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    .quote {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 320px) {
    .quote {
      font-size: 1rem;
    }
  }
}
