body {
  margin: 0px; }

h1, h2 {
  font-family: 'Playfair Display', serif; }

h3 {
  font-family: 'Playfair Display', serif; }

p {
  font-family: 'Raleway', sans-serif; }

.footer-main-container {
  height: 100px;
  background-color: #545A5D;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .footer-main-container a i {
    font-size: 50px;
    color: #FFF; }
