h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Kurale', serif;
}

.go-home,
p {
  font-family: 'Raleway', sans-serif;
}

.lights-out {
  font-family: 'Finger Paint', cursive;
  color: var(--main-palette-fourth);
}