<div id="bio-main-container">
  <div id="bio-content-container">
    <div id="border"></div>
    <img id="picture" src="../assets/optim-images/carles.jpeg" alt="me :)"></img>
    <div id="bio-text-container">
      <h3 id="bio-title">Conoce un poco más <i>Sobre mí</i></h3>
      <p id="bio-description">
        Entusiasta de la tecnología, programador, friki y en mis 
        ratos libres músico y escritor.
        <br/>
        <br/>
        Fanático de los mundos de fantasía y de toda la magia que los envuelve. Admito que
        en ocasiones también me gusta perderme por el espacio o dejarme embargar por el miedo
        en alguna vieja mansión.
        <br/>
        <br/>
        Continúa navegando y averigua más cosas :)
      </p>
  </div>
  </div>
</div>