<div id="bio-main-container">
  <div id="bio-content-container">
    <div id="border"></div>
    <img id="picture" src="../assets/optim-images/carles.jpeg" alt="me :)"></img>
    <div id="bio-text-container">
      <h3 id="bio-title">console.log( "<i>Sobre mí</i> " );</h3>
      <p id="bio-description">
        Entusiasta de la tecnología, programador, friki y en mis 
        ratos libres músico y escritor.
        <br/>
        <br/>
        Con un perfil <i>full-stack</i>, admito que siento debilidad
        por por el mundo del front-end. Mayormente centrado en <b>AngularJS</b>
        y en cualquier experimento con <b>CSS</b> para conseguir el mejor desarrollo <b><i>WOW</i></b>.
        Que la web que salga de mi teclado sea un lugar más interesante de visitar siempre
        es una prioridad: ¿por que íbamos a confiar sólo en el contenido?
        <br/>
        <br/>
        Continúa navegando y conóceme un poco más :)
      </p>
  </div>
  </div>
</div>