<div id="bio-main-container">
  <div id="bio-content-container">
    <div id="border"></div>
    <img id="picture" src="../assets/optim-images/carles.jpeg" alt="me :)"></img>
    <div id="bio-text-container">
      <h3 id="bio-title">Lorem Ipsum sit Amet</h3>
      <p id="bio-description">
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds.
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds
        Fooooooooo osofo adofasodfasma ansdfkn asdnfnkasdf nasd
        mksdkd nasdnkf ññmsd. Jaasdjds
      </p>
  </div>
  </div>
</div>