@import '../global.scss';
@import '../variables.scss';

#bio-main-container {
  height: 725px;

  display: flex;

  align-items: center;
  justify-content: center;

  background-color: $primary-dark;

  div#bio-content-container {
    height: 80%;
    width: 80%;
    max-width: 1024px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #border {
      height: 488px;
      width: 884px;

      position: absolute;

      margin-left: 4%;

      border: 6px solid $secondary-dark;

      @media screen and ( max-width: 1440px ) {
        width: 825px;
        margin-left: 5%;
      }

      @media screen and ( max-width: 1200px ) {
        height: 493px;
        width: 777px;
  
        margin-left: 6%;
      }

      @media screen and ( max-width: 1024px ) {
        width: 690px;
        margin-left: 7%;
      }
    }

    #bio-text-container{
      width: 40%;

      h3#bio-title {
        font-size: 3rem;
        color: $primary-light-color;

        margin-left: -74%;

        background-color: $alternative-light-color;

        @media screen and ( max-width: 1197px ){
          margin-left: -68%;
        }

        @media screen and ( max-width: 1024px ){
          font-size: 2.7rem;
        }
      }

      #bio-description {
        color: $secondary-light-color;
        position: relative;
      }
    }
  }
}

