@import '../variables.scss';
@import '../global.scss';

#sentence-container {
  display: flex;
  
  align-items: center;
  justify-content: center;

  height: 30vh;

  background-color: $primary-background;

  // img {
  //   width: 90px;
  //   height: 90px;
  // }

  h2 {
    color: #FFF;
    font-size: 2.5rem;
    text-align: center;
  }
}