@import '../../scss/global.scss';
@import '../../scss/variables.scss';

#bio-main-container {
  height: 725px;

  display: flex;

  align-items: center;
  justify-content: center;

  background-color: $primary-dark;

  #bio-content-container {
    height: 80%;
    width: 80%;
    max-width: 1024px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #border {
      height: 57%;
      width: 35%;

      position: absolute;

      margin-left: 4%;

      border: 6px solid $secondary-dark;

      @media screen and ( max-width: 1920px ) {
        height: 70%;
        width: 42%;
      }

      @media screen and ( max-width: 1440px ) {
        width: 58%;
        height: 77%;
      }

      @media screen and ( max-width: 1024px ) {
        width: 70%;
      }

      @media screen and ( max-width: 768px ) {
        height: 63%;
      }

      @media screen and ( max-width: 425px ) {
        height: 50%;
        border: 3px solid $secondary-dark;
      }

      @media screen and ( max-width: 320px ) {
        height: 56%;
      }
    }

    #picture {
      @media screen and ( max-width: 768px ) {
        height: 335px;
      }

      @media screen and ( max-width: 425px ) {
        height: 165px;
      }

      @media screen and ( max-width: 375px ) {
        height: 135px;
      }
    }

    #bio-text-container{
      width: 40%;

      @media screen and ( max-width: 425px ) {
        margin-top: -8%;
      }

      h3#bio-title {
        position: relative;

        font-size: 3rem;
        color: $primary-light-color;

        margin-left: -74%;

        background-color: $alternative-light-color;

        @media screen and ( max-width: 1197px ){
          margin-left: -68%;
        }

        @media screen and ( max-width: 1024px ){
          font-size: 2.3rem;
        }

        @media screen and ( max-width: 768px ) {
          font-size: 1.7rem;
        }

        @media screen and ( max-width: 425px ) {
          font-size: .95rem;
        }

        @media screen and ( max-width: 375px ) {
          font-size: .85rem;
        }
      }

      #bio-description {
        color: $secondary-light-color;
        position: relative;

        @media screen and ( max-width: 425px ) {
          font-size: 11px;
        }
      }
    }
  }
}

