body {
  margin: 0px; }

h1, h2 {
  margin: 0px;
  font-family: 'Playfair Display', serif; }

p {
  font-family: 'Raleway', sans-serif; }

#bio-main-container {
  height: 725px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373F51; }
  #bio-main-container #bio-content-container {
    height: 80%;
    width: 80%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    #bio-main-container #bio-content-container #border {
      height: 57%;
      width: 35%;
      position: absolute;
      margin-left: 4%;
      border: 6px solid #545A5D; }
      @media screen and (max-width: 1440px) {
        #bio-main-container #bio-content-container #border {
          width: 58%;
          height: 77%; } }
      @media screen and (max-width: 1024px) {
        #bio-main-container #bio-content-container #border {
          width: 70%; } }
      @media screen and (max-width: 768px) {
        #bio-main-container #bio-content-container #border {
          height: 63%; } }
      @media screen and (max-width: 425px) {
        #bio-main-container #bio-content-container #border {
          height: 50%;
          border: 3px solid #545A5D; } }
      @media screen and (max-width: 320px) {
        #bio-main-container #bio-content-container #border {
          height: 56%; } }
    @media screen and (max-width: 768px) {
      #bio-main-container #bio-content-container #picture {
        height: 335px; } }
    @media screen and (max-width: 425px) {
      #bio-main-container #bio-content-container #picture {
        height: 165px; } }
    @media screen and (max-width: 375px) {
      #bio-main-container #bio-content-container #picture {
        height: 135px; } }
    #bio-main-container #bio-content-container #bio-text-container {
      width: 40%; }
      @media screen and (max-width: 425px) {
        #bio-main-container #bio-content-container #bio-text-container {
          margin-top: -8%; } }
      #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
        font-size: 3rem;
        color: #E8E9EB;
        margin-left: -74%;
        background-color: #008DD5; }
        @media screen and (max-width: 1197px) {
          #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
            margin-left: -68%; } }
        @media screen and (max-width: 1024px) {
          #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
            font-size: 2.3rem; } }
        @media screen and (max-width: 768px) {
          #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
            font-size: 1.7rem; } }
        @media screen and (max-width: 425px) {
          #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
            font-size: .95rem; } }
        @media screen and (max-width: 375px) {
          #bio-main-container #bio-content-container #bio-text-container h3#bio-title {
            font-size: .85rem;
            position: relative; } }
      #bio-main-container #bio-content-container #bio-text-container #bio-description {
        color: #E0DFD5;
        position: relative; }
        @media screen and (max-width: 425px) {
          #bio-main-container #bio-content-container #bio-text-container #bio-description {
            font-size: 11px; } }
