body {
  margin: 0px; }

h1, h2 {
  font-family: 'Playfair Display', serif; }

h3 {
  font-family: 'Playfair Display', serif; }

p {
  font-family: 'Raleway', sans-serif; }

#main-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0033cc;
  background-image: url("../../assets/optim-images/header-min.jpg");
  background-size: cover; }
  #main-header-container h1, #main-header-container h2 {
    text-align: center;
    color: #FFF; }
  #main-header-container h1 {
    font-size: 60px; }
  #main-header-container h2 {
    font-size: 25px; }
