#main-header-container {
  width: 100vw;
  height: 100vh;
  background-color: #0033cc;
  background-image: url("../../assets/optim-images/header-min.jpg");
  background-size: cover; }
  #main-header-container h1, #main-header-container h2 {
    text-align: center;
    color: #FFF; }
  #main-header-container h1 {
    font-size: 60px; }
  #main-header-container h2 {
    font-size: 25px; }
