body {
  margin: 0px; }

h1, h2 {
  margin: 0px;
  font-family: 'Playfair Display', serif; }

p {
  font-family: 'Raleway', sans-serif; }

#sentence-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: #313638; }
  #sentence-container h2 {
    color: #FFF;
    font-size: 1.55rem;
    text-align: center; }
