:root {
  --main-palette-base: #FFFFFF;
  --main-palette-base-contrast: #000000;
  --main-palette-primary: #91A6FF;
  --main-palette-primary-complementary: #ffc391;
  --main-palette-secondary: #ffeb91;
  --main-palette-third: #a5ff91;
  --main-palette-fourth: #eb91ff;
}